{
	"name": "{{packageName}}",
	"description": "{{packageDescription}}",
	"license": "Apache-2.0",
	"main": "{{packageMain}}",
	"version": "1.0.0",
	"engines": {
		"node": ">=16.0.0"
	},
	"repository": {
		"type": "git",
		"url": "{{packageRepositoryUrl}}"
	},
	"scripts": {
		"lint": "npx eslint src --fix",
		"format": "npx prettier --write src",
		"build": "npx tsc -b .",
		"dev": "npx tsc -w & npx nodemon"
	},
	"dependencies": {},
	"devDependencies": {}
}
